footer{
    background: black;
    color: white;
}
footer img{
    width: 230px;
}




.bike1{
    background-image: url(assets/bike2.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
}
.bike1 h1{
    color: red;


}
.motor1{
    background-image: url(assets/motor1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    padding: 25px;
}
.motor1 h1{
    color: red;
}

